<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.maria.domain.withdrawal.mapper.WithdrawalMapper">
    <insert id = "insertWithdrawal" useGeneratedKeys="true" keyProperty="withdrawalId">
        INSERT INTO withdrawal (
        account_id,
        requested_amount,
        destination_account_no,
        destination_general_account_id
        ) VALUES(
        #{accountId},
        #{requestedAmount},
        #{destinationAccountNo},
        #{destinationGeneralAccountId}
        )
    </insert>

    <update id = "updateWithdrawalStatus">
        UPDATE withdrawal
        SET status = #{status}
        WHERE withdrawal_id = #{withdrawalId}
    </update>

    <insert id="insertWithdrawalAllocation" useGeneratedKeys="true" keyProperty="allocationId">
        INSERT INTO withdrawal_allocation(
        withdrawal_id,
        left_amount_id,
        allocated_amount,
        withdrawal_at,
        type
        )VALUES(
        #{withdrawalId},
        #{leftAmountId},
        #{allocatedAmount},
        #{withdrawalAt},
        #{type}

        )
    </insert>

    <update id ="deductLeftAmount">
        UPDATE left_amount
        SET cur_amount = cur_amount - #{deductAmount}
        WHERE left_amount.left_amount_id = #{leftAmountId}
            AND cur_amount >= #{deductAmount}
    </update>

    <update id = "deductAccountAmount">
        UPDATE account
        SET amount = amount - #{requestedAmount}
        WHERE account_id = #{accountId}
        AND amount >= #{requestedAmount}

    </update>

</mapper>