<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.maria.domain.domestic.mapper.DomesticProductMapper">

    <select id="selectById" resultType="DomesticProductDTO">
        SELECT domestic_product_id, ticker, name, market, type, domestic_stock_ratio, inception_date
        FROM domestic_product
        WHERE domestic_product_id = #{domesticProductId}
    </select>

</mapper>
